img {
    width: 30%;
    float: left;
    margin: 1.66%;
    
}
h2 {
    font-family: raleway;
    margin-left: 1.66%;
    text-transform: uppercase;
    border-bottom: 2px solid #F1F1f1;
    width: 30%;
    padding-bottom: 10px;    
}
